.pfp {
    width: 30px;
    height: 30px;
}

td {
    background-color: white;
    vertical-align: middle !important;
}

tr {
    border-bottom: 2px #262d13 solid;
}

.name {
    background-color: #556e07;
    color: white;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark::hover {
    background-color: #23272b;
    border-color: #23272b;
}