tr {
    border-bottom: 2px #262d13 solid;
}

th {
    background-color: #556e07;
    color: white;
    text-align: center;
    vertical-align: middle !important;
}

td {
    vertical-align: middle !important;
}